.return-link {
  font-size: 24px;
  color: white;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  background: none;
  border: none;
}

.cards {
  vertical-align: middle;
}

.cards:hover {
  vertical-align: middle;
  font-size: 25px;
  text-decoration: underline;
}

.background {
  position: absolute;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  bottom: 0;
  background: red;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.owl-item>div {
  cursor: pointer;
  transition: margin 0.4s ease;
  text-align: center;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  background: none;
  border: none;
}

.owl-item.center>div {
  cursor: auto;
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: red;
  padding-top: 5%;
  padding-bottom: 5%;
  background: white;
  border-radius: 1rem;
  border: none;
}

.owl-item:not(.center)>div:hover {
  opacity: .75;
}

.owl-carousel {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-left: 1rem;
}

.client {
  margin: auto;
}

.client-invoice-container {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  height: 20rem;
  width: 40%;
  overflow-x: auto;
  border-radius: 1rem;
  background: white;
  display: block;
}

.client-container {
  height: 50%;
  margin: auto;
}

.invoice-container {
  height: 50%;
  margin: auto;
}